<table>
    <tr>
        <td><label for="mail">Mail Address:</label></td>
        <td><input type="text" name="mail" value="<%=mail %>"></td>
    </tr>
    <tr>
        <td><label for="fullname">Full Name:</label></td>
        <td><input type="text" name="fullname" value="<%=fullname %>"></td>
    </tr>
    <tr>
        <td><label for="usertype">Role('admin' or 'user'):</label></td>
        <td><input type="text" name="usertype"value="<%=usertype%>"></td>
    </tr>
    <tr>
        <td><label for="groupcode">Group:</label></td>
        <td><input type="text" name="groupcode"value="<%=groupcode%>"></td>
    </tr>
</table>
