<% if(typeof user !== 'undefined'){ %>
<div class="header">
    <span class="groupcode"><%=user.groupcode%></span>
    &nbsp;
    <span class="username"><%=user.username%></span>
    &nbsp;
    <span class="fullname"><%=user.fullname%></span>
</div>
<% } %>