<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Login Page</title>
  </head>
  <body>
    <header><% include _header %></header>
    <nav></nav>
    <section class="page_title">
      <h1>Login Page</h1>
    </section>
    <section class="messages">
      <% include _messages %>
    </section>
    <section class="contents">
      <form action="/login" method="post">
        <table>
          <tr>
            <td><label for="username">UserName:</label></td>
            <td><input type="text" name="username"></td>
          </tr>
          <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="password" name="password"></td>
          </tr>
        </table>
        <input type="submit" value="submit">
        <br>
      </form>
    </section>
  </body>
</html>
