<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Query Form</title>
  </head>
  <body>
    <header><% include ../_header %></header>
    <nav></nav>
    <section class="page_title">
      <h1>User Top Page</h1>
    </section>
    <section class="messages">
      <% include ../_messages %>
    </section>
    <section class="contents">
      <a href="/logout">logout</a>
    </section>
    <footer></footer>
  </body>
</html>
